/* Basic Style */
body {
    background: #fff;
    color: #333;
    font-family: Lato, sans-serif;
    background-color:#e4e4e4;
}

.alert {
    padding: 20px;
    color: #f44336;
    margin-bottom: 15px;
}

.container {
    display: block;
    width: 600px;
    margin: 10px auto 100px;
    background-color:#fff;
    padding:0px 10px 10px 10px;
    border-radius:10px;
}

h2 {
    text-align:center;
    padding-top:10px;
    margin-bottom:0px;
}

ul {
    margin: 0;
    padding: 0;
}

li * {
    float: left;
}

li,h3 {
    clear: both;
    list-style: none;
}

input,button {
    outline: none;
}

button:hover {
    color: #333;
}

/* Heading */
h3,label[for='newTodo'] {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 20px 0 10px;
    margin: 2;
    text-transform: uppercase;
}

input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
    width: 60%;
}

input[type="text"]:focus {
    color: #333;
}

input#fenInput {
    float: left;
    width: 60%;
}

div {
    text-align: center;
}

.chessBoard {
    margin-right: -50%;
    transform: translate(15%, 1%)
}
